# Python
venv/
__pycache__/
*.pyc
*.pyo
.Python

# KiCad
*-backups/
*.kicad_prl
*-bak
*~
_autosave-*
*.kicad_pcb-bak
*.kicad_sch-bak
fp-info-cache

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporary
*.tmp
*.temp
*.erc
*.log

# Large binaries
*.jar
*.step
# Allow exported board.step in images
!images/board.step
